footer#section-5.footer-menu
  .footer-menu__buttons
    p.footer-contacts-btn= hfsData.contact
    p.footer-address-btn= hfsData.address
  .footer-menu__extra
    .footer-menu__contacts
      p= hfsData.contactText
      .footer-menu__form-div
        form.footer-menu__form
          label.label-hidden(for='visitorName') visitorName
          input#visitorName.footer-menu__form-name.footer__input-field(type='text', placeholder=`${hfsData.formNamePh}`, name='visitorName')
          label.label-hidden(for='visitorEmail') visitorEmail
          input.footer-menu__form-contacts.footer__input-field(type='text', placeholder=`${hfsData.formEmailPh}`, name='visitorEmail')
          label.label-hidden(for='visitorMessage') visitorMessage
          textarea.footer-menu__form-message.footer__input-field(type='text', placeholder=`${hfsData.formMessagePh}`, name='visitorMessage')  
          input.footer-menu__form-submit(type='submit' value=`${hfsData.formBtn}`)
          //- Send Message</button>
      .footer-menu__ad-cont-div.footer-menu__email-div
        svg.footer-menu__icon
          use(href='/images/icons/all-icons.svg#logo-email')
        p dmitriy.vnuchkov@gmail.com
    .footer-menu__address
      p= hfsData.addressText
      .footer-menu__ad-cont-div
        svg.footer-menu__icon
          use(href='/images/icons/all-icons.svg#logo-vk')
        p Dmitriy Vnuchkov
      .footer-menu__ad-cont-div
        svg.footer-menu__icon
          use(href='/images/icons/all-icons.svg#logo-instagram')
        p DmitriyDeevDevs
      .footer-menu__ad-cont-div
        svg.footer-menu__icon
          use(href='/images/icons/all-icons.svg#logo-location')
        p= hfsData.addressArea
      .footer-menu__address-div.footer-copyright
        p= hfsData.updateDate
        br
        p= `${hfsData.copyrightText}`