header.header-menu
  button.side-menu__btn(type='button')
    svg.icon__menu
      use(href='/images/icons/all-icons.svg#menu-bars-dark')
  .logo-container
    //- <img class="logo" src="images/icons/logo-box-day.svg">
    svg.logo
      use(href='/images/icons/all-icons.svg#logo-box-day')
  .top-menu
    ul.top-menu-list
      a(href='/main-page')
        li(class=`${pageData.page === 'main-page' ? 'top-menu-li-active' : ''}`)= hfsData.home
      a(href='/about-me')
        li(class=`${pageData.page === 'about-me' ? 'top-menu-li-active' : ''}`)= hfsData.aboutMe
      a(href='/qualifications')
        li(class=`${pageData.page === 'qualifications' ? 'top-menu-li-active' : ''}`)= hfsData.quals
      a(href='/projects')
        li(class=`${pageData.page === 'projects' ? 'top-menu-li-active' : ''}`)= hfsData.projects
      a(href='/experience')
        li(class=`${pageData.page === 'experience' ? 'top-menu-li-active' : ''}`)= hfsData.exp
  button.switch-language__btn(type='button')= hfsData.lang
  //- button.switch-language__btn(type='button')= hfsData.lang
  .theme-container
    button.theme-container__btn(type='button')
      span.icon__theme.icon__theme--night.icon__theme--active
        svg.svg__header
          use(href='/images/icons/all-icons.svg#icon-night')
      span.icon__theme.icon__theme--day
        svg.svg__header
          use(href='/images/icons/all-icons.svg#icon-day')
