.side-menu
  ul.menu-list
    a(href='/main-page')
      li(class=`${pageData.page === 'main-page' ? 'side-menu-icon__stand-out' : ''}`)
        svg.side-menu-icon.side-menu-icon__home(class=`${pageData.page === 'main-page' ? '' : 'side-menu__hidden-icon'}`)
          use(href='/images/icons/all-icons.svg#home-menu-icon-dark')
        p= hfsData.home
    a(href='/about-me')
      li(class=`${pageData.page === 'about-me' ? 'side-menu-icon__stand-out' : ''}`)
        svg.side-menu-icon.side-menu-icon__aboutme(class=`${pageData.page === 'about-me' ? '' : 'side-menu__hidden-icon'}`)
          use(href='/images/icons/all-icons.svg#aboutme-menu-icon-dark')
        p= hfsData.aboutMe
    a(href='/qualifications')
      li(class=`${pageData.page === 'qualifications' ? 'side-menu-icon__stand-out' : ''}`)
        svg.side-menu-icon.side-menu-icon__learning(class=`${pageData.page === 'qualifications' ? '' : 'side-menu__hidden-icon'}`)
          use(href='/images/icons/all-icons.svg#learning-menu-icon-dark')
        p= hfsData.quals
    a(href='/projects')
      li(class=`${pageData.page === 'projects' ? 'side-menu-icon__stand-out' : ''}`)
        svg.side-menu-icon.side-menu-icon__projects(class=`${pageData.page === 'projects' ? '' : 'side-menu__hidden-icon'}`)
          use(href='/images/icons/all-icons.svg#projects-menu-icon-dark')
        p= hfsData.projects
    a(href='/experience')
      li(class=`${pageData.page === 'experience' ? 'side-menu-icon__stand-out' : ''}`)
        svg.side-menu-icon.side-menu-icon__experience(class=`${pageData.page === 'experience' ? '' : 'side-menu__hidden-icon'}`)
          use(href='/images/icons/all-icons.svg#experience-menu-icon-dark')
        p= hfsData.exp
.overlay