.side-menu
  ul.menu-list
    a(href='./index.html')
      li.side-menu-icon__stand-out
        svg.side-menu-icon.side-menu-icon__home
          use(href='/images/icons/all-icons.svg#home-menu-icon-dark')
        p= hfsData.home
    a(href='./aboutme.html')
      li
        svg.side-menu-icon.side-menu-icon__aboutme.side-menu__hidden-icon
          use(href='/images/icons/all-icons.svg#aboutme-menu-icon-dark')
        p= hfsData.aboutMe
    a(href='./qualifications.html')
      li
        svg.side-menu-icon.side-menu-icon__learning.side-menu__hidden-icon
          use(href='/images/icons/all-icons.svg#learning-menu-icon-dark')
        p= hfsData.quals
    a(href='./projects.html')
      li
        svg.side-menu-icon.side-menu-icon__projects.side-menu__hidden-icon
          use(href='/images/icons/all-icons.svg#projects-menu-icon-dark')
        p= hfsData.projects
    a(href='./experience.html')
      li
        svg.side-menu-icon.side-menu-icon__experience.side-menu__hidden-icon
          use(href='/images/icons/all-icons.svg#experience-menu-icon-dark')
        p= hfsData.exp
.overlay