extends base

block content
  .intro-part__running-code-box(style='transform: translateY(2vh) scale(1)')
    img.intro-part__animated-code(src='/images/js-code-darkblue.png', alt='')
    .falling-down-div
    .running-right-div
  section.intro-part
    .intro-part__glass
    .intro-part__text-box
      p.intro-part__text= pageData.pageTitle
    .intro-part__photo-box
      img.intro-part__photo(src='/images/my-photo.jpg', alt='My Face')
  section.amp__main-part.section-hidden
    .amp__sub.amp-element-hidden
      .amp__flexed-box__rev
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/yoda-lazy.jpg', alt='Yoda', data-path='/images/yoda.jpg')
        .amp__flexed-text__rev
          h1.amp__headline.amp__sub-one__hello= pageData.partOneTitle
          p.amp-text.amp-text-left= pageData.partOneText
    #0amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='0amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='0amp')= pageData.partOnePreview
    .amp__sub.amp-element-hidden
      h2.amp__headline= pageData.partTwoTitle
      div
        p.amp-text= pageData.partTwoTextOne
        p.amp-text= pageData.partTwoTextTwo
      .amp__flexed-box
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/teacher-lazy.jpg', alt='teacher', data-path='/images/teacher.jpg')
        br
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/programmer-lazy.jpg', alt='Programmer Image', data-path='/images/programmer.jpg')
      div
        p.amp-text= pageData.partTwoTextThree
    #1amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='1amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='1amp')= pageData.partTwoPreview
    .amp__sub.amp-element-hidden
      //- .amp__img-box
      h2.amp__headline= pageData.partThreeTitle
      .amp__flexed-box
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/student-lazy.jpg', alt='Student Image', data-path='/images/student.jpg')
        div.amp__text-box.amp__text-box-right
          p.amp-text.amp__flexed-text= pageData.partThreeTextOne
          p.amp-text.amp__flexed-text= pageData.partThreeTextTwo
    #2amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='2amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='2amp')= pageData.partThreePreview
    .amp__sub.amp-element-hidden
      //- .amp__img-box
      h2.amp__headline.amp__sub-four__headline= pageData.partFourTitle
      .amp__flexed-box__rev
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/runner-lazy.jpg', alt='Running Man', data-path='/images/runner.jpg')
        div.amp__text-box
          p.amp-text.amp__flexed-text__rev.amp-text-left= pageData.partFourTextOne
      br
      .amp__flexed-box__rev
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/gamer-lazy.jpg', alt='Playing man', data-path='/images/gamer.jpg')
        div.amp__text-box
          p.amp-text.amp-text-left.amp__flexed-text__rev= pageData.partFourTextTwo
    #3amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='3amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='3amp')= pageData.partFourPreview

//- block scripting 
//-   script(type='module', defer src='/js/index.js')