extends base

block content 
  .intro-part__running-code-box(style='transform: translateY(2vh) scale(1)')
    img.intro-part__animated-code(src='/images/js-code-darkblue.png', alt='')
    .falling-down-div
    .running-right-div
  section.intro-part
    .intro-part__glass
    .intro-part__text-box
      p.intro-part__text= pageData.pageTitle
    // <p>LEARNING IS LIFELONG PROCESS</p>
    .intro-part__icon-box
      svg.intro-part__icon
        use(href='/images/icons/all-icons.svg#projects-icon-day')
  section.pr-main-section.section-hidden
    // <div class="switch-format__btn-box"><button class="btn__switch-format" type="button">BLAH</button></div>
    .pr-main__project-name= pageData.wheelHeadDefault
    .placedover-div
      .pr-wheel-details.pr-wheel-details-left
        p
      .pr-wheel-details-central
      .pr-wheel-details.pr-wheel-details-right
        p
    .placedover-div.supreme-div
    .pr-general-view
      #1-mapty.justadiv.jad-mapty
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Mapty: Workout Records' : 'Mapty: Тренировки'}` 
        .justadiv__content__learn-more
          p= pageData.projectOne
          a.indv-project-link(href='/projects/mapty')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-mapty-content
          .jad__content-main-img__container.jad-mapty-image-container
            img.jad__content-main-img.jad-mapty-image(src='/images/pr-images/pr-mapty-1.png', alt='')
            .jad__content-secondary-img__container.jad-mapty-image-two-container
              img.jad__content-secondary-img.jad-mapty-image-two(src='/images/pr-images/pr-mapty-2.png', alt='')
              // <div class="secondary-img__backside"></div>
      #2-bankist.justadiv.jad-bankist
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Bankist: Homepage' : 'Банкир: Главная Страница'}`
        .justadiv__content__learn-more
          p= pageData.projectTwo
          a.indv-project-link(href='/projects/bankist-page')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-bankist-content
          .jad__content-main-img__container.jad-bankist-image-container
            img.jad__content-main-img.jad-bankist-image(src='/images/pr-images/pr-bankist-1.png', alt='')
            .jad__content-secondary-img__container.jad-bankist-image-two-container
              img.jad__content-secondary-img.jad-bankist-image-two(src='/images/pr-images/pr-bankist-2.png', alt='')
            .jad__content-secondary-img__container.jad-bankist-image-three-container
              img.jad__content-secondary-img.jad-bankist-image-three(src='/images/pr-images/pr-bankist-3.png', alt='')
      #3-bankapp.justadiv.jad-bankist-app
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Bankist: Application' : 'Банкир: Приложение'}`
        .justadiv__content__learn-more
          p= pageData.projectThree
          a.indv-project-link(href='/projects/bankist-app')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-bankist-app-content
          .jad__content-main-img__container.jad-bankist-app-image-container
            img.jad__content-main-img.jad-bankist-app-image(src='/images/pr-images/pr-bankist-app-1.png', alt='')
      #4-natours.justadiv.jad-natours
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Natours: Your Travelling Guide' : 'Natours: Ваш Тур Гид'}` 
        .justadiv__content__learn-more
          p= pageData.projectFour
          a.indv-project-link(href='/projects/natours-app')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-natours-content
          .jad__content-main-img__container.jad-natours-image-container
            img.jad__content-main-img.jad-natours-image(src='/images/pr-images/pr-natours-1.png', alt='')
            .jad__content-secondary-img__container.jad-natours-image-two-container
              img.jad__content-secondary-img.jad-natours-image-two(src='/images/pr-images/pr-natours-2.png', alt='')
      #5-forkify.justadiv.jad-forkify
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Forkify: Enrich Your Kitchen Arsenal' : 'Forkify: Коллекция Рецептов'}`
        .justadiv__content__learn-more
          p= pageData.projectFive
          a.indv-project-link(href='/projects/forkify-app')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-forkify-content
          .jad__content-main-img__container.jad-forkify-image-container
            img.jad__content-main-img.jad-forkify-image(src='/images/pr-images/pr-forkify-1.png', alt='')
            //
              <svg class=" pr-svg jad__content-main-img jad-forkify-image">
              <use href="/images/icons/logo-box-day.svg"></use>
              </svg>
            .jad__content-secondary-img__container.jad-forkify-image-two-container
              img.jad__content-secondary-img.jad-forkify-image-two(src='/images/pr-images/pr-forkify-2.png', alt='')
            .jad__content-secondary-img__container.jad-forkify-image-three-container
              img.jad__content-secondary-img.jad-forkify-image-three(src='/images/pr-images/pr-forkify-3.png', alt='')
      #6-connect.justadiv.jad-connect
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Connect Four' : 'Собери Четыре'}`
        .justadiv__content__learn-more
          p= pageData.projectSix
          a.indv-project-link(href='/projects/connect-four')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-connect-content
          .jad__content-main-img__container.jad-connect-image-container
            img.jad__content-main-img.jad-connect-image(src='/images/pr-images/pr-connect-1.png', alt='')
            .jad__content-secondary-img__container.jad-connect-image-two-container
              img.jad__content-secondary-img.jad-connect-image-two(src='/images/pr-images/pr-connect-2.png', alt='')
      #7-piggame.justadiv.jad-piggame
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Pig Game' : 'Игра в Порося'}`
        .justadiv__content__learn-more
          p= pageData.projectSeven
          a.indv-project-link(href='/projects/pig-game')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-piggame-content
          .jad__content-main-img__container.jad-piggame-image-container
            img.jad__content-main-img.jad-piggame-image(src='/images/pr-images/pr-piggame-1.png', alt='')
      #8-portfolio.justadiv.jad-portfolio
        .back-side
        .justadiv__project-name
          p= `${pageData.lang === 'en' ? 'Portfolio Website' : 'Мое Портфолио: Сайт'}`
        .justadiv__content__learn-more
          p= pageData.projectEight
          a.indv-project-link(href='/projects/my-portfolio')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-portfolio-content
          .jad__content-main-img__container.jad-portfolio-image-container
            img.jad__content-main-img.jad-portfolio-image(src='/images/pr-images/pr-portfolio-1.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-two-container
              img.jad__content-secondary-img.jad-portfolio-image-two(src='/images/pr-images/pr-portfolio-2.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-three-container
              img.jad__content-secondary-img.jad-portfolio-image-three(src='/images/pr-images/pr-portfolio-3.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-four-container
              img.jad__content-secondary-img.jad-portfolio-image-four(src='/images/pr-images/pr-portfolio-4.png', alt='')

block scripting 
  script(type='module', defer src='/js/index.js')