extends base

block content
  .intro-part__running-code-box(style='transform: translateY(2vh) scale(1)')
    img.intro-part__animated-code(src='/images/js-code-darkblue.png', alt='')
    .falling-down-div
    .running-right-div
  section.intro-part
    .intro-part__glass
    .intro-part__text-box
      p.intro-part__text= pageData.pageTitle
    .intro-part__icon-box
      svg.intro-part__icon
        use(href='/images/icons/all-icons.svg#learning-icon-day')
  section.choice-part.section-hidden
    .close-quals-btn__box
      .edu-category.close-quals-it= pageData.itExpPackTitle
      .edu-category.close-quals-all= pageData.allExpPackTitle
      button.close-quals__btn(type='button')
        .xbtn
          svg.x-btn-svg
            use(href='/images/icons/all-icons.svg#x-button-dark')
    .quals-category.quals.quals-short
      #q1.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-1.jpg')
        p.quals-box__text= pageData.stOneTitle
      #q5.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-5.png')
        p.quals-box__text= pageData.stFiveTitle
      #q6.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-6.png')
        p.quals-box__text= pageData.stSixTitle
      #q7.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-7.png')
        p.quals-box__text= pageData.stSevenTitle
      #q8.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-8.png')
        p.quals-box__text= pageData.stEightTitle
      #q9.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-9.png')
        p.quals-box__text= pageData.stNineTitle
    .quals-category.quals.quals-long
      #q1.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-1.jpg')
        p.quals-box__text= pageData.stOneTitle
      #q2.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-2.jpg')
        p.quals-box__text= pageData.stTwoTitle
      #q3.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-3.jpg')
        p.quals-box__text= pageData.stThreeTitle
      #q4.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-4.jpeg')
        p.quals-box__text= pageData.stFourTitle
      #q5.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-5.png')
        p.quals-box__text= pageData.stFiveTitle
      #q6.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-6.png')
        p.quals-box__text= pageData.stSixTitle
      #q7.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-7.png')
        p.quals-box__text= pageData.stSevenTitle
      #q8.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-8.png')
        p.quals-box__text= pageData.stEightTitle
      #q9.quals-box
        .quals-box__image-container
          img.quals-box__image(src='/images/quals/qual-9.png')
        p.quals-box__text= pageData.stNineTitle
    .choice-part__towers
      .choice-part__section-box
        .tower-description
          p= pageData.itExpTitle
        .towers.tower-short
          .img-box.img-box__short(data-pos='1')
            img.tower__img(src='/images/quals/qual-1.jpg')
          .img-box.img-box__short(data-pos='2')
            img.tower__img(src='/images/quals/qual-5.png')
          .img-box.img-box__short(data-pos='3')
            img.tower__img(src='/images/quals/qual-6.png')
          .img-box.img-box__short(data-pos='4')
            img.tower__img(src='/images/quals/qual-7.png')
          .img-box.img-box__short(data-pos='5')
            img.tower__img(src='/images/quals/qual-8.png')
          .img-box.img-box__short(data-pos='6')
            img.tower__img(src='/images/quals/qual-9.png')
      .choice-part__section-box.choice-part__rev
        .tower-description.tower-description__rev
          p= pageData.allExpTitle
        .towers.tower-long.towers__rev
          .img-box.img-box__long(data-pos='1')
            img.tower__img(src='/images/quals/qual-1.jpg')
          .img-box.img-box__long(data-pos='2')
            img.tower__img(src='/images/quals/qual-2.jpg')
          .img-box.img-box__long(data-pos='3')
            img.tower__img(src='/images/quals/qual-3.jpg')
          .img-box.img-box__long(data-pos='4')
            img.tower__img(src='/images/quals/qual-4.jpeg')
          .img-box.img-box__long(data-pos='5')
            img.tower__img(src='/images/quals/qual-5.png')
          .img-box.img-box__long(data-pos='6')
            img.tower__img(src='/images/quals/qual-6.png')
          .img-box.img-box__long(data-pos='7')
            img.tower__img(src='/images/quals/qual-7.png')
          .img-box.img-box__long(data-pos='8')
            img.tower__img(src='/images/quals/qual-8.png')
          .img-box.img-box__long(data-pos='9')
            img.tower__img(src='/images/quals/qual-9.png')

block details-window
  //- for the sake of smooth animation I hard coded some styles
  .details-section(style='display: none; opacity: 0')
    .spinner-box--overlay
    .spinner-box
      svg.icon__spinner
        use(href='/images/icons/all-icons.svg#icon-menu')
    .error-message-box 
      p Oops... Something went wrong. We could not retrieve the infromation from server. Please, check your internet connection, or try again later.
    .details__name-box
      p.details__name-text Name of the chosen stage
    .details__description-box
      p.details__desription-text
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, tempora facere velit expedita vel quod esse
        | accusantium magnam, ipsum repudiandae exercitationem iure pariatur sed. Ratione nobis ipsa impedit nesciunt
        | aperiam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veniam quibusdam totam deleniti et sint,
        | nemo omnis dolores distinctio tenetur? Excepturi sint nulla omnis expedita distinctio totam cupiditate iure
        | possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
        | adipisicing elit. Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
        | consectetur Lorem ipsum dolor sit amet consectetur lorem Lorem ipsum dolor sit amet consectetur lorem ipsum
        | dolor sit amet lorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ratione nobis quae
        | recusandae autem quibusdam necessitatibus aliquam sint labore. Debitis, provident quos asperiores at sint
        | maiores vero porro ea ad.
    .details__image-box
      img.details__image(src='/images/bg-learning.jpg')
    button.details__button-close(type='button')
      .xbtn
        svg.x-btn-svg
          use(href='/images/icons/all-icons.svg#x-button-dark')
  .image-view__container(style='display: none; opacity: 0')
    button.image-view__close-button(type='button')
      .xbtn
        svg.x-btn-svg
          use(href='/images/icons/all-icons.svg#x-button-light')
    .image-view__images-box
      .image-view__single-image-box
        img.image-view__image(src='/images/bg-projects.jpg', alt='')